<a href="https://colab.research.google.com/github/sushanttwayana/Python_Starter/blob/main/Python_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#display total in the given range

total = 0
for i in range(1, 5) :
  total += i

print('\n Total:', total)

 Total: 10

In [2]:
stds = ['John', 'Ron', 'Mike']

for student in stds :
  print(student)

John
Ron
Mike

In [5]:
# Display the value

n = int(input('Enter a value upto which you want to print:'))

for i in range(1, n+1):
  print(i,end=' ')

Enter a value upto which you want to print:10
1 2 3 4 5 6 7 8 9 10

In [11]:
# Factorial of an input using for loop

n = int(input("Enter an input: "))
f = 1

if(n < 0) :
  print("The input must be non-negative value")

else :
  for i in range(1, n+1) :
    f = f*i

  print('The factorial of', n , 'is:', f)

Enter an input: 6
The factorial of 6 is: 720

In [16]:
# break and continue

for i in range(1, 10):
  if(i == 5):
    break

  print(i)

1
2
3
4

In [55]:
#Continue

for j in range(1, 10):
  if(j == 5) :
    continue  # skip the current value and continue for all others

  print(j)


x = 0
while x < 10:
  x += 1

  if x > 5 : #if x > 5 then continue next iteration
    continue

  print("x = ",x)

print("Out of loop")

1
2
3
4
6
7
8
9
x =  1
x =  2
x =  3
x =  4
x =  5
Out of loop

In [20]:
# Cube of the number upto given integer

n = int(input('Enter a number upto which you want to print the cube: '))
i = 1

while(i <= n):
  print('The cube of', i, 'is :', i**3)
  i += 1

Enter a number upto which you want to print the cube: 5
The cube of 1 is : 1
The cube of 2 is : 8
The cube of 3 is : 27
The cube of 4 is : 64
The cube of 5 is : 125

In [21]:
# to display each character from a string

str = 'Hello'
len = len(str)

for i in range(len) :
  print(str[i])

H
e
l
l
o

In [22]:
# display odd numbers between 0 to 10
for i in range (1, 10, 2):
  print(i)

1
3
5
7
9

In [29]:
# display in desecending order
for i in range (5, 0, -1) :
  print(i)

5
4
3
2
1

In [41]:
# to find the sum of list using for loop

list = [10,20,30,40,50]
sum = 0

for n in list:
  sum += n

print("Sum = ",sum)

Sum =  150

In [42]:
my_list = [10, 20, 30, 40, 50]
length = len(my_list)
i = 0

while i < length:
    print(my_list[i])
    i += 1

TypeError: ignored

In [44]:
#nested loop

for i in range(3):
  for j in range(3):
    print("i= ",i ,"\t", "j= ",j)

i=  0 	 j=  0
i=  0 	 j=  1
i=  0 	 j=  2
i=  1 	 j=  0
i=  1 	 j=  1
i=  1 	 j=  2
i=  2 	 j=  0
i=  2 	 j=  1
i=  2 	 j=  2

In [52]:
for i in range(1, 11):
  for j in range(1, i+1):
    print('*',end = ' ')
  print('\n')

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

* * * * * * * * * *

In [50]:
# to display right angled triangle using single loop

for i in range(1, 11) :
  print('* '*(i) ) # repeat the star for i times

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [53]:
# equilateral traingle

n = 30

for i in range(1, 11):
  print(' '*n, end ='')
  print('* ' * (i))
  n = n-1

                              *
                             * *
                            * * *
                           * * * *
                          * * * * *
                         * * * * * *
                        * * * * * * *
                       * * * * * * * *
                      * * * * * * * * *
                     * * * * * * * * * *

In [60]:
# sum of digits in a given number

n = int(input('Enter any number:'))
n1 = n
sum = 0

while(n > 0):
  d = n % 10
  sum += d
  n = n // 10 #only return the floor value

print("Sum of the digits of",n1, "is:",sum)

Enter any number:234
Sum of the digits of 234 is: 9

In [67]:
# display the multiplication of integer

n = int(input("Enter the integer you want:"))
value = 0

print("The multiplication table is below: \n")
for i in range(1, 11) :
  print(n,"*", i, "is :", (n*i))

Enter the integer you want:4
The multiplication table is below:

4 * 1 is : 4
4 * 2 is : 8
4 * 3 is : 12
4 * 4 is : 16
4 * 5 is : 20
4 * 6 is : 24
4 * 7 is : 28
4 * 8 is : 32
4 * 9 is : 36
4 * 10 is : 40

In [71]:
#Python program to find out the average of a set of integers

count = int(input("Enter the count of integers you want:"))
avg = 0
sum = 0

for i in range(count):
     n = int(input("Enter an integer: "))
     sum = sum + n

avg = sum / count

print("Average of the set of given integers:",avg)

Enter the count of integers you want:5
Enter an integer: 1
Enter an integer: 1
Enter an integer: 1
Enter an integer: 1
Enter an integer: 1
Average of the set of given integers: 1.0

In [77]:
# Prime number upto n

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def generate_primes_up_to_n(n):
    prime_numbers = []
    for number in range(2, n + 1):
        if is_prime(number):
            prime_numbers.append(number)
    return prime_numbers

# Input the value of N
N = int(input("Enter a positive integer N: "))

if N < 2:
    print("There are no prime numbers in the given range.")
else:
    print("Prime numbers from 1 to", N, "are:")
    prime_numbers = generate_primes_up_to_n(N)
    print(prime_numbers)

Enter a positive integer N: 20
Prime numbers from 1 to 20 are:
[2, 3, 5, 7, 11, 13, 17, 19]

In [78]:
num =int(input("Enter the range: "))

for n in range(2,num):

      for i in range(2,n):

            if(n%i==0):

                      break

      else:

            print(n)

Enter the range: 30
2
3
5
7
11
13
17
19
23
29

In [94]:
# reverse a number

num = int(input("Enter a positive number:"))

reverse = 0

while(num != 0) :
  sum = num % 10
  reverse = (reverse * 10) + sum
  num = num // 10

print("The reversed digit is:",reverse)

Enter a positive number:12345
The reversed digit is: 54321