<a href="https://colab.research.google.com/github/sushanttwayana/Python_Starter/blob/main/Python_Day4(functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# functions and return statements

#Square and cube of a number

def cube(n) :
  return(n ** 3)

def square(n):
  return( n ** 2)

num = int(input("Enter an number:"))

sresult = square(num)
cresult = cube(num)

print("The suqare of", num, "is:",sresult)
print("The cube of", num, "is:",cresult)

Enter an number:3
The suqare of 3 is: 9
The cube of 3 is: 27

In [ ]:
#Find the maximum and minimum value

def max_value(x, y):
  if x > y:
    return(x)
  else :
    return(y)


def min_value(x, y):
  if x < y:
    return(x)
  else :
    return(y)

n1 = int(input("Enter the first number:"))
n2 = int(input("Enter the second number:"))

print("The maximum value is:",max_value(n1 , n2))
print("The manimum value is:",min_value(n1 , n2))

Enter the first number:10
Enter the second number:5
The maximum value is: 10
The manimum value is: 5

In [12]:
# factorial

def fact(n) :
 f = 1
 for i in range(1, (n+1)):
  f = f * i
 return(f)

num = int(input('Enter any positive number:'))
print("The factorial of",num,"is:",fact(num))

Enter any positive number:5
The factorial of 5 is: 120

In [6]:
#calender

import calendar
yy = 2023
mm = 8
dd = 25
print(calendar.month(yy,mm,dd))

                                                                                     August 2023
          Monday                   Tuesday                  Wednesday                  Thursday                   Friday                   Saturday                   Sunday
                                       1                         2                         3                         4                         5                         6
             7                         8                         9                        10                        11                        12                        13
            14                        15                        16                        17                        18                        19                        20
            21                        22                        23                        24                        25                        26                        27
            28                        29                        30                        31

In [17]:
# given number is in the range or not

def test_num(n) :
  if n in range (1,11):
    print("%s is in the given range"%str(n))

  else:
    print("%s is not in the given range"%str(n))


test_num(15)

15 is not in the given range

In [20]:
#multiply the list of number

def multiply(numbers):
  total = 1
  for x in numbers:
    total *= x

  return total

print(multiply((8,3,2,-1,7)))

-336

In [27]:
#recursion using McCarthy's 91 function

def M(n) :
  if(n > 100):
    return n-10

  else:
    return M(M(n+11))

print(M(102))

92

In [28]:
# Nested Fuction

def outer_func():
  var = 10

  def inner_func():
    var = 20
    print("Inner variable:",var)

  inner_func()
  print("Outer variable:",var)

outer_func()

Inner variable: 20
Outer variable: 10

In [29]:
def cube(x):
  def square(x):
    return (x * x)

  c = square(n) * x
  print(c)

n = int(input('Enter a number:'))
cube(n)

Enter a number:5
125

In [30]:
from re import S
# lambda function
# lambda arguments : expression \\ works similar to a function taking arguments

sum = lambda x, y: x + y
print("Sum = ", sum(3,5))

# Similar to
# def sum(x,y):
#   return x+y

Sum =  8

In [31]:
#lambda function as an argument to a function

def func(f, n):
  print(f(n))

twice = lambda x : x *2
thrice = lambda x : x *3

func(twice, 4)
func(thrice, 3)

8
9

In [37]:
#using lambda function to calculate sum of first 10 natural numbers

x = lambda  : sum(range(1, 11))
print(x)

<function <lambda> at 0x7db00e3b9bd0>

In [39]:
def small(x, y):
  if(x < y): # -5 < -3 (true)
    return x

  else :
    return y

sum = lambda x,y : x + y #-5
diff = lambda x,y : x -y #-3

print("Smaller of two numbers:", small(sum(-3, -2), diff(-1, 2)))

Smaller of two numbers: -5

In [42]:
# default arguments

def display(name , course = "Python"):
  print("Name:", name)
  print("Course:"+ course)

display(name = "Alexa")

Name: Alexa
Course:Python

In [43]:
#Keyword argument  (Order of the arguments doesnot plays an crucial role)

def display(name, age, salary):
  print("Name: ",name)
  print("Age: ",age)
  print("Salary: ",salary)

n = "Ram"
a = 21
s = 30000

display(salary = s, name = n, age = a)

Name:  Ram
Age:  21
Salary:  30000

In [44]:
def display(str, int, float):
  print("The string is :",str)
  print("The integer value is :",int)
  print("The floating value is :",float)

display(float = 56.7868, str = "Hello", int = 1234)

The string is : Hello
The integer value is : 1234
The floating value is : 56.7868

In [46]:
# variable-length arguments
# def function_name([arg1, arg2,.......], * var_args_tuple):

def fun(name, *fav_subjects):
  print(name,"likes to learn,")
  for subject in fav_subjects:
    print(subject)

fun("Laxman", "Python","R","ML","DL")

Laxman likes to learn,
Python
R
ML
DL

In [48]:
# Global Variables

x = "awesome"

def myfunc():
  global a
  a = "fantastic"
  print("Python is "+ x)

myfunc()
print(" Python :"+ a)

Python is awesome
 Python :fantastic

In [52]:
#print the numbers from a given number n till 0 using recursion

def display(n) :
  if(n != 0):
    print(n,end = ' ')
    display(n-1)

  else:
    print("0")
num = int(input("Enter the number:"))
display(num)

Enter the number:10
10 9 8 7 6 5 4 3 2 1 0

In [55]:
# factorial of a number using recursion

def fact(n):

  if(n == 1 or n == 0):
    return 1

  else:
    return(n * fact(n-1))

num = int(input("Enter a positive integer:"))
print("The factorial of the", num , "is:", fact(num))

Enter a positive integer:6
The factorial of the 6 is: 720

In [59]:
# fibonaci series

n = int(input('Enter how many fibonacci:'))

f1 = 0
f2 = 1
count = 2 # count the number of fibonacci

if n == 1:
  print(f1)

elif n==2 :
  print(f1,"\t",f2)

else:
  print(f1,"",f2, end=' ')

  while count < n:
    f = f1 + f2
    print(f,end =' ')
    f1 = f2
    f2 = f
    count += 1 #increment counter

Enter how many fibonacci:10
0  1 1 2 3 5 8 13 21 34

In [62]:
from traitlets.config.application import T
#calculate the sine value of given angle

x, n = [int(i) for i in input("Enter angle value, no of iterations:").split(',')]

#convert the angle to radian
r = (x * 3.14159)/180

#first term
t = r #(x)

sum = r
print('Iteration=%d \t Sum=%f' %(1,sum))

#denominator for 2nd term
i = 2

#repeat for 2nd to n terms

for j in range(2, n+1):
  t = (-1)*t*r*r/(i*(i+1))#find the next term
  sum = sum + t
  print('Iteration=%d \t Sum=%f' %(j,sum))
  i += 2

Enter angle value, no of iterations:30,5
Iteration=1 	 Sum=0.523598
Iteration=2 	 Sum=0.499674
Iteration=3 	 Sum=0.500002
Iteration=4 	 Sum=0.500000
Iteration=5 	 Sum=0.500000

In [69]:
# program to evaluate exponential series

x, n = [int(i) for i in input("Enter the power of e, Number of iterations:").split(',')]

t = 1
sum = t

print('Iteration=%d \t Sum=%f' %(t,sum))

#repeat for 1st to n-1 terms

for j in range(1, n+1):
  t = t * x/j
  sum = sum + t
  print('Iteration=%d \t Sum=%f' %(j,sum))

Enter the power of e, Number of iterations:10,30
Iteration=1 	 Sum=1.000000
Iteration=1 	 Sum=11.000000
Iteration=2 	 Sum=61.000000
Iteration=3 	 Sum=227.666667
Iteration=4 	 Sum=644.333333
Iteration=5 	 Sum=1477.666667
Iteration=6 	 Sum=2866.555556
Iteration=7 	 Sum=4850.682540
Iteration=8 	 Sum=7330.841270
Iteration=9 	 Sum=10086.573192
Iteration=10 	 Sum=12842.305115
Iteration=11 	 Sum=15347.515953
Iteration=12 	 Sum=17435.191652
Iteration=13 	 Sum=19041.096036
Iteration=14 	 Sum=20188.170595
Iteration=15 	 Sum=20952.886969
Iteration=16 	 Sum=21430.834702
Iteration=17 	 Sum=21711.980427
Iteration=18 	 Sum=21868.172497
Iteration=19 	 Sum=21950.378849
Iteration=20 	 Sum=21991.482026
Iteration=21 	 Sum=22011.054967
Iteration=22 	 Sum=22019.951758
Iteration=23 	 Sum=22023.819928
Iteration=24 	 Sum=22025.431666
Iteration=25 	 Sum=22026.076361
Iteration=26 	 Sum=22026.324321
Iteration=27 	 Sum=22026.416157
Iteration=28 	 Sum=22026.448956
Iteration=29 	 Sum=22026.460266
Iteration=30 	 Sum=22026.464036