<a href="https://colab.research.google.com/github/sushanttwayana/Python_Starter/blob/main/Python_Day5_1(list%2C_dictionaries%2C_set_intro)_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating your own modules
# both the files that we are importing must be saved in the same file

def fact(n):
  if n==0 or n==1 :
    return 1

  else :
    return (n * fact(n-1))

def fib(n):
  if(n == 1):
    return 0

  elif (n == 2):
    return 1

  else :
    return (fib(n-1) + fib(n-2))

In [6]:
#Generating the random OTP

import random, math

a = random.random()
b = math.floor(a * 10)

# print(a * 10)
print(b)

9

In [15]:
import random, math

def generate_OTP():
  digits = "0123456789"
  OTP = " "

  for i in range(1, 7):
    a = random.random()
    b = math.floor(a * 10)

    # OTP += str(b)
    OTP += digits[b]

  return OTP

print("Your OTP is :",generate_OTP())

Your OTP is :  137696

In [17]:
#Mean Median and mode using module

from statistics import mean, mode, median

list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print("Mean of the list is:", mean(list))
print("Median of the list is:", median(list))
print("Mode of the list is:", mode(list))

Mean of the list is: 5
Median of the list is: 5
Mode of the list is: 1

In [18]:
# Calculate the square root of the sum of two numbers.

import math
a = int(input("Enter a number:"))
b = int(input("Enter another number:"))

print("The sum of square root of the given two numbers is:", (math.sqrt(a) + math.sqrt(b)))

Enter a number16
Enter another number25
The sum of square root of the given two numbers is: 9.0

In [20]:
# Calculate the circumference and area of a circle.

import math

r = float(input("Enter the radius of circle:"))

print("The circumference of the circle is:", (2* math.pi * r))
print("The area of the circle is:", (math.pi* r * r))

Enter the radius of circle:4
The circumference of the circle is: 25.132741228718345
The area of the circle is: 50.26548245743669

In [26]:
 #Calculate the trigonometric functions of an angle.

angle_d = float(input("Enter the angle in degree="))

from math import radians, sin, cos, tan,pi

angle_radian = (angle_d * pi) / 180
r =  radians(angle_d)

sine = sin(angle_radian)
cose = cos(angle_radian)
tan = tan(angle_radian)

print("The sine angle is", sine)
print("The cos angle is", cose)
print("The tan angle is", tan)

Enter the angle in degree=30
The sine angle is 0.49999999999999994
The cos angle is 0.8660254037844387
The tan angle is 0.5773502691896257

In [31]:
# Containers in python
# mutable -> the values can be modified // immutable
# ordered and unordered
# indexable and inindexible
# list -> []

lst1 = [1, 2, 3]
lst2 = [4, 5, 6]

lst1[0] = 0
print(len(lst1))

print(lst1 + lst2)
print(lst1 * 3) #repeats the same list 3 times

3
[0, 2, 3, 4, 5, 6]
[0, 2, 3, 0, 2, 3, 0, 2, 3]

In [45]:
mylist = ["a", "e", "i"]
mylist.append("o" ) # can take only one argument at a time
print(mylist)

mylist.extend(["u", "A", "E", "O", "U"])
print(mylist)

mylist.insert(8, "I")
print(mylist)

mylist.pop() # by default remove the last element
print(mylist)
mylist.pop(0)
print(mylist)

mylist.remove('I')
print(mylist)

['a', 'e', 'i', 'o']
['a', 'e', 'i', 'o', 'u', 'A', 'E', 'O', 'U']
['a', 'e', 'i', 'o', 'u', 'A', 'E', 'O', 'I', 'U']
['a', 'e', 'i', 'o', 'u', 'A', 'E', 'O', 'I']
['e', 'i', 'o', 'u', 'A', 'E', 'O', 'I']
['e', 'i', 'o', 'u', 'A', 'E', 'O']

In [30]:
prime =[1,2,3,5,7,9,11,13,17]

print(prime[3:])
print(prime[:3])
print(prime[2:5])
print(prime[::-1]) #reverse the order

[5, 7, 9, 11, 13, 17]
[1, 2, 3]
[3, 5, 7]
[17, 13, 11, 9, 7, 5, 3, 2, 1]

In [62]:
#count

fib = [0, 1, 1, 2, 3, 5, 8, 13]
print(fib.count(1))

print(fib.index(3))

fib.reverse()
print(fib)

numbers = [0, 52, 23, 11, 22, 99, 1]

print("Ascending Order:",sorted(numbers))
print("Actual numbers list:",numbers)

print("Decending Order:", sorted(numbers, reverse = True))


numbers.sort() # sort the whole list and modify it
print(numbers)

#max num and min number


print("Maximum number is:",max(numbers))
print("Manimum number is:",min(numbers))

2
4
[13, 8, 5, 3, 2, 1, 1, 0]
Ascending Order: [0, 1, 11, 22, 23, 52, 99]
Actual numbers list: [0, 52, 23, 11, 22, 99, 1]
Decending Order: [99, 52, 23, 22, 11, 1, 0]
[0, 1, 11, 22, 23, 52, 99]
Maximum number is: 99
Manimum number is: 0

In [70]:
#Acesssing the list element
lst = [10, 30, 50, 90, 20]

for i in lst:
  print(i, end=' ')

n = len (lst)
print("\n")
for i in range(n):
  print(lst[i], end =' ')

del lst[0]

print("remaining list is:", lst)

10 30 50 90 20

10 30 50 90 20 remaining list is: [30, 50, 90, 20]

In [75]:
# built in funtions in list

list1 = [10, 20, 30, 40, 50, 20, 20, 10]

print(list1.index(10)) # return the poistion of 10
print("Frequency of 20 is:",list1.count(20))

0
Frequency of 20 is: 3

In [81]:
my_list = [1, 1.3456, "Hello", 3.1415]

print(len(my_list))

my_list = ["Python", 123]
print(len(my_list))

# 3dimensional
mylst = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(mylst)
print(mylst[1][1])

# nested list

list = [1, 2, [3,4]]

print(list[2])

4
2
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
5
[3, 4]

In [83]:
# TUPLES -> immutable(we cannot add and change the items of the tuple)

tuple1 = ["a", "b", "c"]
print(tuple1[2])

tuple2 = 1, 2, 3
print(tuple2)

c
(1, 2, 3)

In [88]:
# Sets -> container and specified by {}, all seperated by a comma,  immutable

myset = {1, 2, 3}
print(myset)

myset2 = set([1, 2, 3 ,2, 1])
print(myset2)

s1 = set()
print(set()) # empty set

s1 = {1, 2, 3}
s2 = {5, 9 ,8}

print( 1 in s1 )
print( 0 in s2 )

{1, 2, 3}
{1, 2, 3}
set()
True
False

In [98]:
# Dicationaries -> key value pair notation -> { <key> : <value> }
# ordered are not preserved, mutable

dict1 = {}
print(dict1)

dict2 = { "x": 1, "y": 2, "z": 3}
print(dict2)
print(dict2["y"])

a = dict2["x"] + dict2["y"] + dict2["z"] # acessing the elements of the dictioanary
print(a)

dict2["y"] = 10
print(dict2)

dict2["w"] = 0
print(dict2)

dict2.get("a", 42) # if not found return the default value 42

{}
{'x': 1, 'y': 2, 'z': 3}
2
6
{'x': 1, 'y': 10, 'z': 3}
{'x': 1, 'y': 10, 'z': 3, 'w': 0}

42

In [107]:
#Python program to display the sum of n numbers using a list

def sum(my_list):
  sum = 0

  for num in my_list:
    sum += num

  return sum

num = int(input("How many numbers:"))
list = []

for i in range(num):
  x = int(input("Enter the "+ str(i) + " number you want to append in the list:"))
  list.append(x)

print("Your list is:", list)
print("The sum of the elements of the list is:", sum(list))

How many numbers:5
Enter the 0 number you want to append in the list:1
Enter the 1 number you want to append in the list:2
Enter the 2 number you want to append in the list:3
Enter the 3 number you want to append in the list:4
Enter the 4 number you want to append in the list:5
Your list is: [1, 2, 3, 4, 5]
The sum of the elements of the list is: 15

In [140]:
#Write a Python program to implement linear search on a List of elements

def linear_search(list1, e):

  for i in range(len(list1)):
        if list1[i] == e:
            return i  # Return the index if the target is found

  return -1

list1 = [10, 20, 30, 40, 50]
target_element = 50

result = linear_search(list1, target_element)

if result != -1:
  print(f"The {target_element} is found at index {result} ")

else :
  print(f"The {target_element} isn't found in the list ")

The 50 is found at index 4

In [141]:
#Python program to find the odd numbers in a List

def odd_num(lst):

  odd = []
  even =[]
  for i in range(len(lst)):
      if(lst[i] % 2 != 0) :
          odd.append(lst[i])

      else :
          even.append(lst[i])

  return (odd, even)

lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

ol, el = odd_num(lst)

print("The odd numbers in the list are:", ol)
print("The even numbers in the list are:", el)

The odd numbers in the list are: [1, 3, 5, 7, 9]
The even numbers in the list are: [0, 2, 4, 6, 8]

In [147]:
 #Python program to print all the items in a dictionary

dict = {'Name': 'Chandra', 'Id': 200, "Age": 30, "Salary": 20000}

for i,j in dict.items():
    print(i,":",j)

Name : Chandra
Id : 200
Age : 30
Salary : 20000

In [149]:
phone_book = { 'John' : [ '8592970000', 'john@xyzmail.com' ],
               'Bob': [ '7994880000', 'bob@xyzmail.com' ],
               'Tom' : [ '9749552647' , 'tom@xyzmail.com']
             }

for k,v in phone_book.items():

     print(k, ":", v)

John : ['8592970000', 'john@xyzmail.com']
Bob : ['7994880000', 'bob@xyzmail.com']
Tom : ['9749552647', 'tom@xyzmail.com']