<a href="https://colab.research.google.com/github/sushanttwayana/Python_Starter/blob/main/Python_Day7(Strings).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#formating strings
# %c -> formating charcters
# %d or %i -> signed decimal integers
# %s -> strings
# %u -> Unsigned decimal integers
# %o -> Octal integer
# %h or %H -> Hexadecimal
# %e or %E -> Exponential notation
# %f -> floating point notation
# %g or %G -> Short numbers in floating point or exponential

name = "Aarush"
age = 8

print("Name : %s and Age: %d" %(name, age))
print("Name: %s  and Age:%d" %("Shreyans",9))

Name : Aarush and Age: 8
Name: Shreyans  and Age:9

In [11]:
i = 1
j = 2

print("i = %d\t j = %d" %(i,j))

ch = 'S'
i = 55
f = 5.5555
str1 = 'Hello'
print("ch = %c, i = %i, str1 = %s, f = %f " %(ch,i, str1, f))

i = 1	 j = 2
ch = S, i = 55, str1 = Hello, f = 5.555500

In [13]:
# reverse a string

def reverse_str(str):
  new_str = ""
  i = len(str) - 1

  while i >= 0 :
    new_str += str[i]
    i -= 1

  return new_str

str =  input("Enter a string:")
print("The reverse of the input string is:", reverse_str(str))

Enter a string:sumina awa
The reverse of the input string is: awa animus

In [18]:
# palindrome

def reverse_str(str):
  new_str = ""
  i = len(str) - 1

  while i >= 0 :
    new_str += str[i]
    i -= 1

  return new_str

def palindrome(str, rev):

  if str == rev:
    return True

  else :
    return False

rev = ""
str =  input("Enter a string:")
rev = reverse_str(str)
print("The reverse string is:", rev)

value = palindrome(str, rev)

if value:
  print("The given input string %s is palindrome!" %(str))

else :
  print("The given input string %s isn't palindrome!" %(str))

Enter a string:mom
The reverse string is: mom
The given input string mom is palindrome!

In [19]:
# swapping case in strings
# swapcase -> swap upper case and lower case to each other

txt = input("Enter a string:")

print("After conversion :" + txt.swapcase())

Enter a string:Sumina Awa
After conversion :sUMINA aWA

In [20]:
#removing brackets from the expression

def remove_brackets(str):
  for i in str:
    if i not in "()":
      print(i,end='')

str = input("Enter a string:")
remove_brackets(str)

Enter a string:(a+b)-(c*d)
a+b-c*d

In [22]:
my_string = "hello"
my_set = set(my_string)
print(my_set)
# The resulting set will contain unique characters: {'h', 'e', 'l', 'o'}

{'e', 'h', 'l', 'o'}

In [24]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])

# Union of sets
union_set = set1.union(set2)  # {1, 2, 3, 4, 5, 6}

# Intersection of sets
intersection_set = set1.intersection(set2)  # {3, 4}

# Difference between sets
difference_set = set1.difference(set2)  # {1, 2}

# Check if a set is a subset of another set
is_subset = set1.issubset(set2)  # False

print("UNION:", union_set)
print("INTERSECTION:",intersection_set)
print("DIFFERENCE:",difference_set)
print("ISSUBSET:",is_subset)

UNION: {1, 2, 3, 4, 5, 6}
INTERSECTION: {3, 4}
DIFFERENCE: {1, 2}
ISSUBSET: False

In [26]:
# Python program to Count the Number of matching characters in a pair of string.

str1 = "abcdefghi"
str2 = "aeiou"

def count(str1, str2):
  str_1 = set(str1)
  str_2 = set(str2)
  matched_char =""

  matched_char = str_1.intersection(str_2)
  # matched_char = str_1 & str_2 # produces same result as the above
  print("The number of matching charcaters in %s and %s are: %d"%(str1, str2, len(matched_char)))

count(str1, str2)

The number of matching charcaters in abcdefghi and aeiou are: 3

In [29]:
#Write a python program to Remove all duplicates from a given string.

def remove_duplicates(str):

  result = ""

  for char in str:

    if char not in result: # If the character is not already in the result string, add it
        result += char

  return result

str = input("Enter an input string:")
print("The string after removing the duplicates characters is:",remove_duplicates(str) )

Enter an input string:I am in love with miss sumina awa
The string after removing the duplicates characters is: I aminlovewthsu