<a href="https://colab.research.google.com/github/sushanttwayana/Python_Starter/blob/main/Python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = b = 10
print("Sum = ",(a+b))

Sum =  20

In [2]:
m = 3
c = 2
E = m * c ** 2 # this represents the power
print("The value of E is", E)

The value of E is 12

In [4]:
a = 10
b = 5
print(a//b) # for the integer value operation i.e. we wont get the floating point value floor operation

2

In [5]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
avg = (a + b)/2
print("Average = ", avg)

Enter first number:5
Enter second number:5
Average =  5.0

In [52]:
 #Python code to find the circumference and area of a circle with a given radius

radius = float(input("Enter the radius: "))
area = 3.1415 * radius *radius
circumference = 2 * 3.1415 * radius
print("Area of the circle is :", area)
print("Circumference of the circle is:", circumference)

Enter the radius: 4
Area of the circle is : 50.264
Circumference of the circle is: 25.132

In [8]:
#program to add two functions
def add(x, y):
  print("Sum:", (x+y))

def message():
  print("Welcome to Python Programming")

add(10,10)
message()

Sum: 20
Welcome to Python Programming

In [9]:
#int datatype
a = -57

#float datatype
num = 55.67867
x = 22.55e3 # 22.55 * 10^3
print(x)

#complex datatype
c1 = -1 - 5.5j

22550.0

In [10]:
# program to add two complex numbers
c1 = 2.5 + 2.5j
c2 = 3.0 - 0.5j
c3 = c1 + c2
print("Sum= ",c3)

Sum=  (5.5+2j)

In [11]:
#Converting the datatypes explicitly

x = 15.56
print(int(x))

num = 15
print(float(num))

print(True + True) # True is 1 and false is 0
print(True - False)

15
15.0
2
1

In [14]:
# str represents string datatype

str = "This is a first 'Python' Programming"
print(str)

s = "Welcome to Python Programming"
print(s[0])
print(s[3:7]) # displays from 3rd to 6th characters
print(s[11:]) # displays from the 11th character onwards till end
print(s[-1]) # displays the first character from the end
print(s * 2)

This is a first 'Python' Programming
W
come
Python Programming
g
Welcome to Python ProgrammingWelcome to Python Programming

In [20]:
#byte datatype -> can only store non negative values from 0 to 256

#create a list of byte numbers
elements = [10,20,30,40,50]

#convert the list into bytes array
x = bytes(elements)
#print(x[0])

# convert the list into bytearray type array
y = bytearray(elements)

#modify the first element of y
y[0] = 0

#retrive the elements from x using for loop and display
for i in y :
  print(i)

0
20
30
40
50

In [25]:
#list -> represents the groups of elements and we can store any datatypes

list = [10, -20, 15.5, 'Vijay', "Bibek"]
print(list[4])
print(list[-3])
list[0] = 0
print(list[0])

Bibek
15.5
0

In [27]:
#range datatype -> represents the sequence of numbers

r = range(10)
for i in r:
  print(i)

r1 = range(30, 40, 2) # 30 to 40 with step size 2

for i in r1 :
  print(i)

0
1
2
3
4
5
6
7
8
9
30
32
34
36
38

In [36]:
# set -> unordered collection of elements and doesn't store duplicate values

s = {10, 20, 30, 40, 50}
display(s)

ch = set("Hello")
print(ch) # doesn't store 2nd l only 1 l is stord and displayed

lst = [1,2,3,4,5]
s1 = set(lst)
display(s1)

s1.update([40, 50]) # add elements
display(s1)

s1.remove(40)
print(s1)

{10, 20, 30, 40, 50}

{'o', 'H', 'l', 'e'}

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 40, 50}

{1, 2, 3, 4, 5, 50}

In [38]:
# Mapping values -> we can retrive the values associated with key value pairs
# Similar to the dictonary

d = {10 : 'Kamal', 11: 'Vijay', 12: 'Hira', 13:'Zeena'}
print(d)
d[14] = 'Sushant'
print(d)

{10: 'Kamal', 11: 'Vijay', 12: 'Hira', 13: 'Zeena'}
{10: 'Kamal', 11: 'Vijay', 12: 'Hira', 13: 'Zeena', 14: 'Sushant'}

In [43]:
# Escape characters and type of the variable
# Generally constants are declared in Python using all capital letters like MAX_VALUE but this value can be modified or changed i.e. constansts cannot be
# declared generally in Python

str ="This is the first line and \
this is the continuation of the first line"
print(str)

str1 = "This is Python\n\"and this is the new line\""
print(str1)

a = 100.15
print(type(str))
print(type(a))

This is the first line and this is the continuation of the first line
This is Python
"and this is the new line"
<class 'str'>
<class 'float'>

In [46]:
# Finding the area of the triangle

a = float(input("Enter the first side of the triangle:"))
b = float(input("Enter the second side of the triangle:"))
c = float(input("Enter the third side of the triangle:"))

s = (a + b + c)/2
area = (s * (s-a) * (s-b) * (s-c) ) ** 0.5
print("The area of the traingle is :", area)

Enter the first side of the triangle:10
Enter the second side of the triangle:4
Enter the third side of the triangle:8
The area of the traingle is : 15.198684153570664

In [51]:
# Degree to Farhenheit

def cel_to_farhen(celsius) :
  farhen = (celsius * 9/5) + 32
  return farhen

celsius = float(input("Enter the temperature in Celsius: "))

f = cel_to_farhen(celsius)
print(f"{celsius} degree is equal to {f} degree Farhenheit")

Enter the temperature in Celsius: 37
37.0 degree is equal to 98.6 degree

In [56]:
 # Bitwise Operators
 x = 10
 print(~x)

 a = 10
 b = 11
 print((a & b))
 print((a | b))
 print((a ^ b))

-11
10
11
1

In [63]:
# not in operators

names = ["Rani", "Yamini", "Kamini", 'Veena']

for name in names :
   print(name)

a1 = 25
b1 = 25

if ( a1 is b1):
  print("a1 and b1 have same identity")

else:
  print("different identity")

Rani
Yamini
Kamini
Veena
a1 and b1 have same identity

In [70]:
import math as m
from math import factorial,pi
#x = math.sqrt(16)
x = m.sqrt(16)
print(x)

y = factorial(5)
print(y)

r = 2
area = pi * r * r
print(area)

4.0
120
12.566370614359172

In [72]:
# Eligible for voting or not

age = int(input("Enter your age:"))

if (age >= 18) :
  print("Eligible for voting")

else :
  print("Not eligibile for voting")

print(f"Your age is {age}.")

Enter your age:10
Not eligibile for voting
Your age is 10.

In [76]:
# Check whether the entered character is aplhabet or digit

ch = input("Enter any character: ")

if( ch.isalpha()):
  print("The given character is alphabet.")
elif( ch.isdigit()):
  print("The character is digit")
if(ch.isspace()) :
  print("The character is space")

Enter any character:
The character is space

In [78]:
# vowel or not

ch = input("Enter a character: ")

if(ch == "a" or ch == "e" or ch == "i" or ch == "o" or ch == "u" or ch == "A" or ch == "O" or ch == "I" or ch == "O" or ch == "U") :
  print("The given character is vowel")

else :
  print("the character is consonant")

Enter a character: w
the character is consonant

In [81]:
# character or not
ch = input("Enter a character: ")

if( (ch >= 'a' and ch <= 'z' ) or (ch >= 'A' and ch <= 'Z')):
  print("The given character is a alphabet")

else:
  print("Not alphabet")

Enter a character: 122
Not alphabet

In [87]:
# Leap year
year = int(input("Enter a year: "))

if( year %4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("Its a leap year")

else :
  print("Not leap year")

Enter a year: 2024
Its a leap year

In [90]:
# Biggest number between two numbers using nested if statement

a = int(input("Enter the 1st value: "))
b = int(input("Enter the 2nd value: "))

if( a!= b) :
  if( a > b):
    print(a,"is largest")

  else :
    print(b,"is largest")

else :
  print("Both values are equal")

Enter the 1st value: 100
Enter the 2nd value: 100
Both values are equal