<a href="https://colab.research.google.com/github/sushanttwayana/Python_Starter/blob/main/Python_Day6_1(Working_with_lists_and_strings).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#working with operator on lists

# + operator
L1 = [1, 2, 3]
L2 = [4, 5, 6]
L3 =  L1 + L2

print(L3)

# * operator

L4 = L1 * 5 # repeat 5 times
print(L4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
#list methods

list1 = [10, 20, 30, 40, 50]

print(list1.reverse())

list1.append(60)
print(list1)

list2 = []
list3 = []
y = 0

for i in range(5):
  x = int(input("Enter the elements:"))
  y += 10
  list3.append(y)
  list2.append(x)

print("List content 2 is ", list2)
print("List content 3 is ", list3)

None
[50, 40, 30, 20, 10, 60]
Enter the elements:1
Enter the elements:2
Enter the elements:3
Enter the elements:4
Enter the elements:5
List content 2 is  [1, 2, 3, 4, 5]
List content 3 is  [10, 20, 30, 40, 50]

In [17]:
#clear and count

list =[10, 11, 12, 13, 14, 10, 12, 10, 15]

x = 10
y = list.count(x)

print("No of occurences of 10 is:", y)

list.clear()
print(list)

No of occurences of 10 is: 3
[]

In [21]:
# extend -> add two list

L1 = [1, 2, 3]
L2 = [4, 5, 6]

L1.extend(L2)
print(L1)
print(L2)

x = 6
print(L1.index(x))

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
5

In [26]:
#insert, pop, remove, sort

l1 = [1, 2, 3, 4, 5]
index = 2
x = 0

l1.insert(index, x)
print(l1)

x1 = l1.pop()
print(x1)

print(l1)

l1.remove(x)
print(l1)

[1, 2, 0, 3, 4, 5]
5
[1, 2, 0, 3, 4]
[1, 2, 3, 4]

In [28]:
l1 = [50, 40, 30, 20, 10]

l1.sort()
print(l1)

l1.sort(reverse = True)
print(l1)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [30]:
# maximunm and minimum value

list = [41, 21, 31, 11, 71, 61, 11, 81]

min_l = max_l = list[0]

for item in list:

  if item < min_l:
    min_l = item

  if item > max_l:
    max_l = item

print("The minimimum number in the list is:", min_l)
print("The minimimum number in the list is:", min(list))

#directly using max and min
print("The maxmimum number in the list is", max_l)
print("The maxmimum number in the list is", max(list))

The minimimum number in the list is: 11
The minimimum number in the list is: 11
The maxmimum number in the list is 81
The maxmimum number in the list is 81

In [33]:
# list comprehension -> "create a list of x for each y in z"

squares = [x**2 for x in range(11)]
print(squares)

even_square = [x**2 for x in range(11) if x % 2 ==0]
print(even_square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]

In [35]:
# STRINGS

maya = "Sumina"
index = 0

for i in maya:
  print("maya[",index,"]:", i)
  index += 1

maya[ 0 ]: S
maya[ 1 ]: u
maya[ 2 ]: m
maya[ 3 ]: i
maya[ 4 ]: n
maya[ 5 ]: a

In [46]:
str1 = "Hello, Welcome to "
str2 = "Python!"
i = -1
j = 2

print(str1[i])
print(str1[j * 3 + 1])

str3 = str1 + str2
# str1 += str2
print("The concanated string is:",str3)

print(str2 * 3, end = " ")
var = 3.11

print(str1 + str2 + str(var))

W
The concanated string is: Hello, Welcome to Python!
Python!Python!Python! Hello, Welcome to Python!3.11

In [63]:
#Built in functions in strings

str1 = "Hello123"
str2 = "hello 123" # space is not a number or an alphabet
str3 =  "456"

print(len(str1))

#isalnum() -> return true if all of the element of the string is a number or alphabet
print(str1.isalnum())
print(str2.isalnum())

#isalpha() -> all the characters must be alphabet then returns true

print(str1.isalpha())

#isdigit -> returns true if string contains only digits
print(str1.isdigit())
print(str3.isdigit())

#islower -> every character must be lower case then returns true
print("lower",str1.islower())
print("lower", str2.islower())

#is upper -> every character must be upper
print("upper",str1.isupper())

8
True
False
False
False
True
lower False
lower True
upper False

In [65]:
# isspace() -> if string contains whitespace only

str0 = "Sumina Awa"
str1 = "                          "
print(str0.isspace())
print(str1.isspace())

False
True

In [71]:
#capitalize -> converts the first string into capital letter

str0 = "sumina awa"
print(str0.capitalize())

print(str0.upper())
print(str0.lower())

str1 = " HEllO   "
#strip -> removes all the whitespaces which are leading and trailing whitespaces

print(str1)
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

Sumina awa
SUMINA AWA
sumina awa
 HEllO
HEllO
 HEllO
HEllO

In [73]:
#ID of the string -> memory address of the string

a= 10
print("Value of a:", a)
print("Adress of a: ",id(a))

b = 10
print("Value of b:", b)
print("Adress of b: ",id(b))

Value of a: 10
Adress of a:  135736106926608
Value of b: 10
Adress of b:  135736106926608

In [84]:
str1 = "Sumina Awa"
str1.lower()
print("ID of str1 is:", id(str1))

str2 = "Sumina Awa"
str2.lower()
print("ID of str2 is:", id(str2))

if id(str1) == id(str2) :
  print("Both the strings are same.")

else :
  print("The strings are different")

ID of str1 is: 135734833822512
ID of str2 is: 135734833813424
The strings are different